@import "bootstrap-sprockets";
@import "bootstrap";


.navbar-nav {
  border-bottom: 1px solid black;
  width: 100%;
  height-max: 150px;
  height: 40px;
}
.nav-content {
  color: red;
  margin-top: 10px;
}
